*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
#cont{
    width: 1000px;
    height: 280px;
    margin: 0 auto;
    background: linear-gradient(#4db9d4, #FBA364);
    position: relative;

}

#dino{
    width: 80px;
    height: 80px;
    background-color: rgb(230, 111, 43);
    bottom: 38px;
    left: 52px;
    position: absolute;

    z-index: 2;
    background: url("./img/dino.png") repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;
}